body {
  margin-left: 10px;
}

.rectangle {
    width: 250px;
    border: solid black 2px;
    font-weight: 600;
}

.wrapper {
    margin-left: 348px;
}

.weird-green {
    background-color: rgb(187, 232, 167);
}

.green {
    color: green;
}
.orange {
    background-color: orange;
}

.brown {
    background-color: brown;
}

.navbar-brand {
    margin-left: 40px;
}

.red {
    color: red;
}


.blue {
    color: blue;
}

.table-wrapper {
    border: solid 2px gray;
    padding: 20px;
}

.country {
    border: solid #eee 2px;
    margin-top: 4px;
}

.country th {
    font-size: 20px;
}

form {
    margin-bottom: 5px;
}

input.search-country {
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    width: 196px;
}

.search-country:focus {
    outline: none;
}


@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 134px;
  }
}